@import 'params';

html {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}

input {
  box-shadow: none;
  border: 1px solid #c4c4c4;
}
