@import 'helpers';
@import 'params';

.collection {
  h1 {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.search-section, .collection-section {
  li {
    list-style: none;
  }
  input {
    font-size: em(24px);
    line-height: 1.5em;
    max-height: 50px;
  }
}

.search-section {
  position: relative;
  .search-wrapper {
    position: relative;
    a {

    }
  }
  .ac-list {
    z-index: 200 !important;
    position: absolute;
    top: 43px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-right: 30px;
  }
  .ac-name {
    max-width: 80%;
  }
  .ac-wrapper {
    line-height: 30px;
  }
  input {
    width: 100%;
    float: left;
  }
  button {
    float: right;
    margin-top: 4px;
  }
  .ac-hit {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-top: none;
    .placeholder {
      float: left;
      width: 43px;
      height: 30px;
      margin-right: 5px;
      display: inline-block;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      img {
        position: absolute;
        width: 56px;
        top: -9px;
        right: -7px;
      }
    }
  }
  .ac-hit:last-child {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  }
  .remove-search {
    position: absolute;
    top: 4px;
    right: 0;
    font-size: em(24px);
    line-height: 1.5em;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    color: #c4c4c4;
    &:hover{
      color: #c42222;
      cursor: pointer;
    }
  }
}

.collection-section {
  text-align: center;
  .color {
    @include card-shadow-z1();
    width: 13.3%;
    min-width: 152px;
    float: left;
    min-height: 500px;
    border: 1px solid #c4c4c4;
    padding: 0 5px;
    margin: 5px;
  }
  .color-white {
    background: $mtg-white;
  }
  .color-black {
    background: $mtg-black;
  }
  .color-blue {
    background: $mtg-blue;
  }
  .color-red {
    background: $mtg-red;
  }
  .color-green {
    background: $mtg-green;
  }
  .color-multi {
    background: $mtg-multi;
  }
  .color-colorless {
    background: $mtg-colorless;
  }
  .rare{
    color: $mtg-rarity-rare;
  }
  .mythic{
    color: $mtg-rarity-mythic;
  }
  .uncommon{
    color: $mtg-rarity-uncommon;
  }
  .common{
    color: $mtg-rarity-common;
  }
}
