<div class="container-fluid center" ng-show="!refItem.name">
  <div class="row marketing">
    <h1>
      <span class="glyphicon glyphicon-cog glyphicon-spin"></span>
    </h1>
  </div>
</div>
<div class="container" ng-show="!!refItem.name">
  <div class="row">
    <div class="col-md-8">
      <h1>{{refItem.name}}</h1>
    </div>
    <div class="col-md-4 search-section">
      <input class="padding-xs" type="text" ng-model="searchTerm" placeholder="Add card"/>
      <a class="remove-search padding-xs" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></a>
      <ul class="ac-list">
        <li ng-repeat="result in searchResult track by result.id" class="ac-hit">
          <div class="ac-wrapper">
            <div class="placeholder"><img src="{{result.editions[0].image_url}}" /></div>
            <span class="ac-name">
              {{result.name}}
            </span>
            <button class="btn btn-xs btn-success" ng-click="addCard(result)">Add
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row marketing">
    <div class="col-md-8 collection-section clearfix">
      <h2>My collection:</h2>
      <ul class="padding-s">
        <li ng-repeat="card in refItem.cards" class="margin-tb-s padding-s" ng-cloak>
          {{card.name}}
          <img src="{{card.editions[0].image_url}}" />
        </li>
      </ul>
    </div>
  </div>
</div>
