<div class="container-fluid center" ng-show="!refItem.name">
  <div class="row marketing">
    <h1>
      <span class="glyphicon glyphicon-cog glyphicon-spin"></span>
    </h1>
  </div>
</div>
<div class="container collection" ng-show="!!refItem.name">
  <div class="row">
    <div class="col-md-8">
      <h1>{{refItem.name}}</h1>
    </div>
    <div class="col-md-4 search-section">
      <input class="padding-xs" type="text" ng-model="searchTerm" placeholder="Add card"/>
      <a class="remove-search padding-xs" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></a>
      <ul class="ac-list">
        <li ng-repeat="result in searchResult track by result.id" class="ac-hit">
          <div class="ac-wrapper">
            <div class="placeholder"><img src="{{result.editions[0].image_url}}" /></div>
            <span class="ac-name">
              {{result.name}}
            </span>
            <button class="btn btn-xs btn-success" ng-click="addCard(result)">Add
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row marketing">
    <div class="collection-section clearfix">
      <div class="row">
        <div class="color color-white">
          <h3>White</h3>
          <card-list cards="whiteCards | isCreature" title="Creatures"></card-list>
        </div>
        <div class="color color-red">
          <h3>Red</h3>
          <card-list cards="redCards | isCreature" title="Creatures"/></card-list>
        </div>
        <div class="color color-blue">
          <h3>Blue</h3>
          <card-list cards="blueCards | isCreature" title="Creatures"/></card-list>
        </div>
        <div class="color color-black">
          <h3>Black</h3>
          <card-list cards="blackCards | isCreature" title="Creatures"/></card-list>
        </div>
        <div class="color color-green">
          <h3>Green</h3>
          <card-list cards="greenCards | isCreature" title="Creatures"/></card-list>
        </div>
        <div class="color color-multi">
          <h3>Multicolored</h3>
          <card-list cards="multicolorCards | isCreature" title="Creatures"/></card-list>
        </div>
        <div class="color color-colorless">
          <h3>Colorless</h3>
          <card-list cards="colorlessCards | isCreature" title="Creatures"/></card-list>
        </div>
      </div>
    </div>
  </div>
</div>
