<div class="container-fluid center" ng-show="!refItem.name">
  <div class="row marketing">
    <h1>
      <span class="glyphicon glyphicon-cog glyphicon-spin"></span>
    </h1>
  </div>
</div>
<div class="container collection" ng-show="!!refItem.name">
  <div class="row">
    <div class="col-md-8">
      <h1>{{refItem.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <collection-navigation current="import" collection-id="{{collectionId}}"></collection-navigation>
    </div>
  </div>
  <div class="row marketing">
    <div class="row">
    <div class="col-md-3">
        <div class="form-group">
          <label for="import-field" class="control-label">Cards to import, one per line:</label>
          <textarea class="form-control" id="import-field" ng-model="importList" rows="20"></textarea>
        </div>
        <div class="form-group pull-right">
          <button class="btn btn-success" ng-disabled="!lineCount" ng-click="importCards()">Import{{!!lineCount ? (' ' + lineCount + ' cards') : ''}}</button>
        </div>
    </div>
    <div class="col-md-3 import-status" ng-show="importing">
      <h2>Import status</h2>
      <div class="row">
        <div class="col-md-12">
          <div ng-show="successfullImport">
            {{cardCountImported}} / {{cardsToImport}} cards imported successfully!
          </div>
          <div ng-show="unsuccessfullImport">
            {{cardCountImported}} / {{cardsToImport}} imported. These were unsuccessfull, please check the spelling:
            <ul>
              <li ng-repeat="name in cardsFailed">{{name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
