<div class="jumbotron">
  <h1>Create a collection</h1>
  <p class="lead">
    Start typing a unique collection name for which to bind your magic card collection to:
  </p>
  <p><input type="text" class="username" ng-model="collectionName" /></p>
  <p><button class="btn btn-lg btn-success" ng-disabled="!isNameUnique()" ng-click="createCollection()">Create!<span class="glyphicon glyphicon-ok"></span></button></p>
</div>

<div class="">
  <ul ng-repeat="collection in collections">
    <li>
      <a href="#/collection/{{collection.$id}}">{{collection.name}}</a>
    </li>
  </ul>
</div>
